.heading {
  text-align: center;
  font-size: 4.5rem;
}

.icons {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.portifolio {
  background: var(--second-bg-color);
}

.portifolio h2 {
  margin-bottom: 4rem;
}

.portifolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portifolio_container .portifolio_box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portifolio_box img {
  width: 100%;
  transition: .5s ease;
}

.portifolio_box:hover img {
  transform: scale(1.1);
}

.portifolio_box .portifolio_layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.portifolio_box:hover .portifolio_layer {
  transform: translateY(0);
}

.portifolio_layer h4 {
  font-size: 3rem;
}

.portifolio_layer p {
  font-size: 1.6rem;
}

.portifolio_layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}