.heading {
  text-align: center;
  font-size: 4.5rem;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input_box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.contact form .input_box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .top {
  margin-top: 2rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .contact {
    min-height: 94vh;
  }

}

@media (max-width: 450px){
  .contact form .input_box input {
    width: 100%;
  }
}